<div class="container btn_layout_shop margin_bottom_30 hidden-xs">
  <div class="row">
    <div class=" space_bot_20 flex margin_left_right ">
       <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 btn_function available-filter">
         
         <h1 class="collection-counter">{{ collection.products_count }} <span>products {{section.settings.available_button}}</span></h1>
      </div>
      <div class="col-lg-3 col-md-3 hidden-sm hidden-xs btn_function left ">
      </div>
      {% comment %}
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 btn_function text-center ">
      {% if section.settings.btn_grid == 'image' %}
        {% if section.settings.img_grid == blank %}
          <img src="{{ 'btn_grid.png' | asset_url }}" class="img-responsive inline-block btn_grid_layout">
         {% else %}
          <img src="{{section.settings.img_grid | img_url:'master'}}" class="img-responsive inline-block btn_grid_layout">
        {% endif %}
      {% else %}
      	<i class="{{section.settings.icon_grid}} btn_grid_layout"></i>
      {% endif %}
    </div>
      {% endcomment %}
<!--      -->
      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-4 btn_function text-center ">
      </div>
<!--      -->
      {% comment %}
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 btn_function text-center ">
      {% if section.settings.btn_list == 'image' %}
        {% if section.settings.img_list == blank %}
          <img src="{{ 'btn_list.png' | asset_url }}" class="img-responsive inline-block btn_list_layout">
         {% else %}
          <img src="{{section.settings.img_list | img_url:'master'}}" class="img-responsive inline-block btn_list_layout">
        {% endif %}
      {% else %}
      	<i class="{{section.settings.icon_list}} btn_list_layout"></i>
      {% endif %}
    </div>
       {% endcomment %}
<!--      -->
    <div class="col-lg-4 col-md-3 btn_function left">
      <div class="wrap-filter-sorting">
        <div class="dropdown">
          <button class="dropdown-toggle text-left" data-toggle="dropdown" aria-expanded="false">
            <!-- {{ 'collections.sorting.title' | t }} -->Sort by:
            <span class="dropdown-label"> {{ 'collections.sorting.featured' | t }}</span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="manual">{{ 'collections.sorting.featured' | t }}</a></li>   
            <li><a href="best-selling">{{ 'collections.sorting.best_selling' | t }}</a></li>
            <li><a href="title-ascending">Alphabetically (A-Z)</a></li>
            <li><a href="title-descending">Alphabetically (Z-A)</a></li>
            <li><a href="price-descending">Price (High to Low)</a></li>
            <li><a href="price-ascending">Price (Low to High)</a></li>
            <li><a href="created-ascending">Date Added (New-Old)</a></li>
            <li><a href="created-descending">Date Added (Old-New)</a></li>
          </ul>
        </div>
      </div>
    </div>
          <div class="col-lg-1 col-md-1 col-sm-2 col-xs-4 btn_function text-center filter-button ">
        <h4 class="btn_filter_full" data-click-state="0"><img src="{{'filter.png'| asset_url}}" alt="filter" style="margin-right: 10px;">{{section.settings.icon_filter}}</h4>
    </div>
    </div>
    <div class="filter_full col-md-12 over-hidden delay05 engoj-collection-sidebar">
      <div class="content_filter_full filter-board" >
        <div class="filter-child space_bot_20">
          {% include 'ciloe-filter-cate' %}
        </div>
		<!--          -->
        <div class="filter-child space_bot_20">
          {% include 'ciloe-filter-color' %}
        </div>
		<!--          -->
        <div class="filter-child space_bot_20">
          {% include 'ciloe-filter-size' %}
        </div>
		<!--          -->
        <div class="filter-child space_bot_20">
          {% include 'ciloe-filter-tag' %}
        </div>
    <!--          -->
        <div class="filter-child space_bot_20">
          {% include 'ciloe-filter-price' %}
        </div>
		<!--          -->
      </div>
    </div>
  </div>
</div>