<div class="filter margin_bottom_30 space_bot_30 border-bot filter-tag">
  <div class="flex margin_bottom_20">
    <h4 class="fz-14 widget_title">{{section.settings.title_color}}</h4>
  </div>
  <ul>
    {% assign tags = section.settings.shop_by_color_list_tags | split: ',' %}
    {% assign arrayList = collection.all_tags | join: " " %}
    {% for t in tags %}
    {% assign tag = t | strip %}
    {% assign tag_value = tag | handleize %}
    <li class="cat-item{% if current_tags contains tag %} current-cat{% endif %} inline-block">
      <input class="hidden" type="checkbox" value="{{ tag_value | split: '|' | first }}" {% if current_tags contains tag %}checked{% endif %}/>
      <a href="javascript:void(0)">
        <div data-value="{{ value | escape }}"  data-style="square" class="filter-tooltip color {{ tag }}" data-toggle="tooltip" data-placement="top">
          <div class="tooltip">{{ tag }}</div>
          <span class="link_color">
            <span class="ciloe_filter_color" style="background:{% if tag == 'White Gold' %}#e3e3de {% elsif tag == 'Yellow Gold' %}#fde76d {% elsif tag == 'Rose Gold' %}#ffdabb {% elsif tag == 'Platinum' %}#b8b7b2 {% else %} {{ tag }} {% endif %};"></span>
          </span>
        </div>
      </a>
      {% endfor %}
  </ul>
</div>