<div class="row">
  {% for collection in collections %}

  {% if collection.empty? %}
  {% comment %}add default state for collection block in theme editor{% endcomment %}
  {% assign collection_image_url = '' %}
  {% else %}
  {% if collection.image %}
  {% capture collection_image_url %}{{ collection | img_url: 'master' }}{% endcapture %}
  {% elsif collection.products.first %}
  {% capture collection_image_url %}{{ collection.products.first | img_url: 'master' }}{% endcapture %}
  {% endif %}
  {% endif %}

  <div class="col-12 col-sm-6 col-lg-4 e-cat">
    <div class="img_ef1">
      <a href="{{ collection.url }}" class="d-block">
        <img src="{{ collection_image_url }}" alt="{{ collection.title }}" title="{{ collection.title }}" class="w-100">
      </a>
    </div>
    <div class="cate-info">
      <h3>
        {{ collection.title }}
      </h3>
      <p> {{ collection.all_products_count }} {{ collection.all_products_count | pluralize: 'Item', 'Items' }} total </p>

      <a href="{% if collection.empty? %}#{% else %}{{ collection.url }}{% endif %}" class="shop-button-collection">
        {{'list_collection.view_more'|t}}
      </a>
    </div>

  </div>
  {% endfor %}
</div>