{% if section.settings.enable_contact_info2 %}
{% include 'custom-banner' %}
<div class="container e-contact space_bot_100 space_top_100">       
  <div class="row">
    {% if section.settings.enable_contactv2_phone %}
    <div class="{% if section.settings.enable_contactv2_address and section.settings.enable_contactv2_email %}col-md-4 col-sm-4 col-xs-4{% elsif section.settings.enable_contactv2_address or section.settings.enable_contactv2_email %} col-md-6 col-sm-6 col-xs-6{% endif %} col-xs-12">
      <div class="contact-info footer-about  inline-block ">
        <div class="icon">
          <img src="{{section.settings.img_phone | img_url:'master'}}" class="img-responsive">
        </div>
        <div class="contact-text-holder">
          <div class="contact-img-holder">
            <img src="{{ 'local_phone.png'| asset_url }}" alt="">
          </div>
          <div class="text">
            <h4 class="contact-title spc uppercase lt-2">{{section.settings.abus_info_title3}}</h4>
          <ul class="footer-block-content">
            <li class="fs-18">
              <span>{{section.settings.abus_info_content1}}</span>
            </li>
            <li class="fs-18">
              <span>{{section.settings.abus_info_phone1}}</span>
            </li>
            <li class="fs-18">
              <span>{{section.settings.abus_info_phone2}}</span>
            </li>
            <li class="fs-18">
              <span>{{section.settings.abus_info_phone3}}</span>
            </li>
            <li class="fs-18">
              <span>{{section.settings.abus_info_phone4}}</span>
            </li>
          </ul>
        </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% if section.settings.enable_contactv2_address %}
    <div class="{% if section.settings.enable_contactv2_phone and section.settings.enable_contactv2_email %}col-md-4 col-sm-4 col-xs-4{% elsif section.settings.enable_contactv2_phone or section.settings.enable_contactv2_email %} col-md-6 col-sm-6 col-xs-6{% endif %} col-xs-12">
      <div class="e-contact-address footer-about   inline-block ">
        <div class="icon">
          <img src="{{section.settings.img_add | img_url:'master'}}" class="img-responsive">
        </div>
        <div class="contact-text-holder">
        <div class="contact-img-holder">
          <img src="{{ 'place.png'| asset_url }}" alt="">
        </div>
        <div class="text">
          <h4 class="contact-title spc uppercase lt-2">{{section.settings.abus_info_title1}}</h4> 
          <ul class="footer-block-content">
            <li class="fs-18">
              <span>{{section.settings.abus_info_content3}}</span>
            </li>
            <li class="fs-18">
              <span>{{section.settings.abus_info_content4}}</span>
            </li>                       
          </ul>
        </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% if section.settings.enable_contactv2_email %}
    <div class="{% if section.settings.enable_contactv2_phone and section.settings.enable_contactv2_address %}col-md-4 col-sm-4 col-xs-4{% elsif section.settings.enable_contactv2_phone or section.settings.enable_contactv2_address %} col-md-6 col-sm-6 col-xs-6{% endif %} col-xs-12">
      <div class="e-contact-address footer-about  inline-block ">
        <div class="icon">
          <img src="{{section.settings.img_email | img_url:'master'}}" class="img-responsive">
        </div>
        <div class="contact-text-holder">
        <div class="contact-img-holder">
          <img src="{{ 'mail.png'| asset_url }}" alt="">
        </div>
        <div class="text">
          <h4 class="contact-title spc uppercase lt-2">{{section.settings.abus_info_title2}}</h4> 
          <ul class="footer-block-content">
            <li class="fs-18">
              <span>{{section.settings.abus_info_content5}}</span>
            </li>
          </ul>
        </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endif %}
<!-- <div class="e-contact">  
  <div id="googlemap1" class="map"></div>
</div> -->
<div class="e-contact">  
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d482.62377901401214!2d121.04737643164296!3d14.599632253710777!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397c82797f76cd5%3A0x21c7b579d4ab0523!2sMeicel%20Jewelry!5e0!3m2!1sfil!2sph!4v1588899117759!5m2!1sfil!2sph" width="1920" height="1080" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>
<div class="container e-contact  space_top_30">       
  <div class="row flex-center">
    <div class="col-xs-12 col-sm-8 col-md-8">

      {% form 'contact' %}

      <div class="info space_bot_10">
        <h3 class="space_bot_20 text-center">{{section.settings.title_form}}</h3>
            {% if form.posted_successfully? %}
          <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <p style="margin-bottom: 5px;">
              {{ 'contact.form.post_success' | t }}
            </p>
          </div>
          {% endif %}

          {% if form.errors %}
            <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {% for field in form.errors %}
                <p style="margin-bottom: 5px;">The {{ field }} field {{ form.errors.messages[field] }}.</p>
            {% endfor %}
            </div>
        {% endif %}
        <p class="lh-30 text-center">{{section.settings.text_form}}</p>
      </div>
      <div class="login-form">
        <div class="form-group row ">
          <div class=" col-sm-6 col-md-6 col-xs-12">
            <input type="text" id="author" class="contact-input form-control bdr {% if form.errors contains 'author' %}input--error{% endif %}" name="contact[author]" value="" placeholder="{{section.settings.abus_contact_input1_name}}" required>
          </div>
          <div class=" col-sm-6 col-md-6 col-xs-12">
            <input type="email" id="email" class="contact-input col-sm-6 col-md-6 col-xs-12 form-control bdr {% if form.errors contains 'email' %}input--error{% endif %}" name="contact[email]" value="" placeholder="{{section.settings.abus_contact_input2_name}}">
          </div>
          <div class=" col-sm-12 col-md-12 col-xs-12">
            <input type="text" id="subject" class="contact-input col-sm-6 col-md-6 col-xs-12 form-control bdr {% if form.errors contains 'subject' %}input--error{% endif %}" name="contact[subject]" value="" placeholder="{{section.settings.abus_contact_input4_name}}">
          </div>
          <div class=" col-sm-12 col-md-12 col-xs-12">
            <textarea id="message" class="contact-input form-control bdr {% if form.errors contains 'body' %}input--error{% endif %}" name="contact[body]" rows="10" placeholder="What do you want to talk about?*" required></textarea>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-submit">
            Send Message
          </button>
        </div>
      </div>
      {% endform %}
    </div>
  </div>
</div>