{% assign productDes = product.description | split: '<p>{break}</p>' %}
<div class="single-product-tab ver3 margin_bottom_50">
  <div class="cmt-title abs">
    <ul class="nav nav-tabs v3 product-tabs">
      {%if section.settings.enable_description_tab%}
      <li class="active"><a class=" " data-toggle="tab" href="#desc">{{section.settings.destab_title}}</a></li>
      {%endif%}
      {% if section.settings.enable_custom_tab%}
      <li><a class=" " data-toggle="tab" href="#info">{{section.settings.customtab_title}}</a></li>
      {%endif%}
      {%if section.settings.enable_review_tab%}
      <li><a class=" " data-toggle="tab" href="#review">{{section.settings.reviewtab_title}}</a></li>
      {%endif%}
    </ul>
    <!-- <div class="product-tabs-menu">
      {%if section.settings.enable_description_tab%}
        <div class="product-tabs">
          <h1>
            <a class=" " data-toggle="tab" href="#desc">{{section.settings.destab_title}}</a>
          </h1>
        </div>
      {% endif %}
      {% if section.settings.enable_custom_tab%}
        <div class="product-tabs">
          <h1>
            <a class=" " data-toggle="tab" href="#info">{{section.settings.customtab_title}}</a>
          </h1>
        </div>
      {% endif %}
      {%if section.settings.enable_review_tab%}
        <div class="product-tabs">
          <h1>
            <a class=" " data-toggle="tab" href="#review">{{section.settings.reviewtab_title}}</a>
          </h1>
        </div>
      {% endif %}
    </div> -->
  </div>
  <div class="tab-content ">
    {%if section.settings.enable_description_tab%}
    <div id="desc" class="tab-pane fade in active">
      {% if section.settings.custom_tab_des == 'default' %}
      {{productDes[0]}}
      {{productDes[2]}}
      {% elsif section.settings.custom_tab_des == 'pin' %}
      {% include 'ciloe_pin_pd_detail' %}
      {% elsif section.settings.custom_tab_des == 'page' %}
      {% include 'ciloe_description_pd_detail' %}
      {% endif %}
    </div>
    {%endif%}
    {% if section.settings.enable_custom_tab%}
    <div id="info" class="tab-pane fade ">
      {% if section.settings.custom_tab_option == "ct_ops_image" %}
      <div class="img">
        <img {%if section.settings.ct_option_1 == blank%}src="{{'destabimg.jpg'| asset_url }}" 
             {%else%}
             src="{{section.settings.ct_option_1 | img_url:'master'}}" class="img-reponsive"{%endif%} alt="" /> 
      </div>
      {% elsif section.settings.custom_tab_option == "ct_ops_html" %}
        {{productDes[1]}}
      {% elsif section.settings.custom_tab_option == "ct_ops_page" %}
      {{section.settings.ct_option_3}}    
      {% endif %}
    </div>
    {%endif%}
    {%if section.settings.enable_review_tab%}
    <div id="review" class="tab-pane fade  ">
      <div class="entry-inside v3">
        <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
      </div>
    </div>
    {%endif%}
  </div>
</div>
<div class="produt-sizing-guide">
  <div class="product-size-guide-control">
    <a data-toggle="collapse" href="#sizeGuide" role="button" aria-expanded="false" aria-controls="sizeGuide">
      Size Guide
      <i class="fas fa-caret-down"></i>
    </a>
  </div>
  <div class="collapse in product-size-body" id="sizeGuide">
    <div class="card card-body">
      <table class="table product-table table-bordered">
        <thead>
          <tr>
            <th class="text-center">MEASUREMENTS</th>
            <th colspan="7" class="text-center">Ring Conversion Table</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Millimeters</td>
            <td>US</td>
            <td>British</td>
            <td>French</td>
            <td>German</td>
            <td>Swiss</td>
            <td>Japanese</td>
            <td>Hong Kong</td>
          </tr>
          <tr>
            <td>44.5.0</td>
            <td>3</td>
            <td>F</td>
            <td>44</td>
            <td>14</td>
            <td>4</td>
            <td>4</td>
            <td>6</td>
        </tr>
        <tr>
            <td>45.2</td>
            <td>3 1/2</td>
            <td>G</td>
            <td>45</td>
            <td>14.5</td>
            <td>5 1/2</td>
            <td>6</td>
            <td>8</td>
        </tr>
        <tr>
            <td>46</td>
            <td>4</td>
            <td>H</td>
            <td>47</td>
            <td>15</td>
            <td>7</td>
            <td>7</td>
            <td>8.5</td>
        </tr>
        <tr>
            <td>47.6</td>
            <td>4 1/2</td>
            <td>I</td>
            <td>48</td>
            <td>15.5</td>
            <td>9</td>
            <td>8</td>
            <td>9.5</td>
        </tr>
        <tr>
          <td>49.2</td>
          <td>5</td>
          <td>J</td>
          <td>50</td>
          <td>15.8</td>
          <td>10</td>
          <td>9</td>
          <td>10.5</td>
      </tr>
      <tr>
        <td>50.8</td>
        <td>5 1/2</td>
        <td>K</td>
        <td>52</td>
        <td>16</td>
        <td>12</td>
        <td>10</td>
        <td>11.5</td>
      </tr>
      <tr>
        <td>52.4</td>
        <td>6</td>
        <td>L</td>
        <td>53</td>
        <td>16.5</td>
        <td>13</td>
        <td>12</td>
        <td>13.5</td>
      </tr>
      <tr>
        <td>53.2</td>
        <td>6 1/2</td>
        <td>M</td>
        <td>54</td>
        <td>17</td>
        <td>14</td>
        <td>13</td>
        <td>14.5</td>
      </tr>
      <tr>
        <td>54</td>
        <td>7</td>
        <td>N</td>
        <td>55</td>
        <td>17.3</td>
        <td>15</td>
        <td>14</td>
        <td>15.5</td>
      </tr>
      <tr>
        <td>55.6</td>
        <td>7 1/2</td>
        <td>O</td>
        <td>57</td>
        <td>17.8</td>
        <td>16 1/2</td>
        <td>15</td>
        <td>16.5</td>
      </tr>
      <tr>
        <td>57.2</td>
        <td>8</td>
        <td>P</td>
        <td>58</td>
        <td>18</td>
        <td>18</td>
        <td>16</td>
        <td>17.5</td>
      </tr>
      <tr>
        <td>54.8</td>
        <td>8 1/2</td>
        <td>Q</td>
        <td>59</td>
        <td>18.5</td>
        <td>19</td>
        <td>17</td>
        <td>18</td>
      </tr>
      <tr>
        <td>58.7</td>
        <td>9</td>
        <td>R</td>
        <td>60</td>
        <td>19</td>
        <td>20</td>
        <td>18</td>
        <td>19</td>
      </tr>
      <tr>
        <td>60.3</td>
        <td>9 1/2</td>
        <td>S</td>
        <td>61</td>
        <td>19.5</td>
        <td>21 1/2</td>
        <td>19</td>
        <td>20</td>
      </tr>
      <tr>
        <td>61.9</td>
        <td>10</td>
        <td>T</td>
        <td>62</td>
        <td>20.3</td>
        <td>22</td>
        <td>20</td>
        <td>21</td>
      </tr>
      <tr>
        <td>63.5</td>
        <td>10 1/2</td>
        <td>U</td>
        <td>63</td>
        <td>20.8</td>
        <td>23 1/2</td>
        <td>22</td>
        <td>23</td>
      </tr>
      <tr>
        <td>65.1</td>
        <td>11</td>
        <td>W</td>
        <td>64</td>
        <td>21</td>
        <td>25</td>
        <td>23</td>
        <td>24</td>
      </tr>
      <tr>
        <td>65.9</td>
        <td>11 1/2</td>
        <td>X</td>
        <td>66</td>
        <td>21.3</td>
        <td>26</td>
        <td>24</td>
        <td>25</td>
      </tr>
      <tr>
        <td>66.7</td>
        <td>12</td>
        <td>Y</td>
        <td>67</td>
        <td>21.8</td>
        <td>27 1/2</td>
        <td>25</td>
        <td>26</td>
      </tr>
      <tr>
        <td>68/3</td>
        <td>12 1/2</td>
        <td>Z</td>
        <td>69</td>
        <td>22</td>
        <td>29</td>
        <td>26</td>
        <td>27</td>
      </tr>
      <tr>
        <td>69.9</td>
        <td>13</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>27</td>
        <td>28</td>
      </tr>
        </tbody>
      </table> 
    </div>
  </div>
</div>