<!-- /templates/customers/account.liquid -->
{% comment %}

For all available customer liquid tags:
- http://docs.shopify.com/themes/liquid-variables/customer

{% endcomment %}

<section>
    <div class="container container-240">
      
        <div class="breadcrumbs">
          {% include 'breadcrumb-v3' %}
        </div>
        <!-- /.breadcrumbs -->
        <!-- <h1 class="e-title text-center">{{ page_title }}</h1> -->
      
      <!-- /.cosre-page-title__main -->
    </div>
  <!-- /.cosre-page-title -->
</section>
<!-- ACCOUNT -->
<section>
  <div class="container">
    <div class="myaccount">
      <div class="myaccount-sidenav">
        <div class="myaccount-sidenav-title">
          <h1>My Account</h1>
        </div>
        <div class="myaccount-sidenav-content">
            <p>
              <a href="/account">
                Account Details
              </a>
            </p>
            <p>
              <a href="/account/addresses">
                Addresses
              </a>
            </p>
            <p>
              <a href="/account/logout">Log Out</a>
            </p>
        </div>
      </div>
      <div class="myaccount-content">
        <div class="myaccount-content-title">
          <h1>Account Details</h1>
        </div>
        <div class="myaccount-content-body">
          <div class="myaccount-account-details">
            {% if customer.default_address != nil %}
              <h5>{{ customer.name }}</h5>
              {% if customer.default_address.phone != blank %}
                <p>Phone Number: <span>{{ customer.default_address.phone }}</span></p>
              {% else %}
                <p>Phone Number: <span>There is no phone number.</span></p>
              {% endif %}
              <p>Address: 
                <span>
                {{ customer.default_address.address1 }}
                {% if customer.default_address.address2 != blank %}
                  , {{ customer.default_address.address2 }}
                {% endif %}
                {% if customer.default_address.city != blank %}
                  , {{ customer.default_address.city }}
                {% endif %}
                {% if customer.default_address.province_code != blank %}
                  , {{ customer.default_address.province_code }}
                {% endif %}
                {% if customer.default_address.zip != blank %}
                  &nbsp;{{ customer.default_address.zip | upcase }}
                {% endif %}
                </span>
              </p>
              <p>Country: <span>{{ customer.default_address.country }}</span></p>
              <p>
              <a href="/account/addresses">
                {{ 'customer.account.view_addresses' | t }} 
                ({{ customer.addresses_count }})
              </a>
            </p>
              {% else %}
              <h2>There is no data.</h2>
            {% endif %}
          </div>
          <div class="myaccount-account-orders">
            <h5>Order History</h5>
            <div class="myaccount-orders-detail">
              {% paginate customer.orders by 20 %}
                {% if customer.orders.size != 0 %}
                  <div class="table-responsive margin_top_20">
                    <table class="table tableOrder table-bordered">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th>{{ 'customer.orders.order_number' | t }}</th>
                                                    <th>{{ 'customer.orders.date' | t }}</th>
                                                    <th>{{ 'customer.orders.payment_status' | t }}</th>
                                                    <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
                                                    <th>{{ 'customer.orders.total' | t }}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for order in customer.orders %}
                                                    <tr>
                                                        <td>{{ order.name | link_to: order.customer_url }}</td>
                                                        <td>{{ order.created_at | date: format: 'month_day_year' }}</td>
                                                        <td>
                                                          {% if order.financial_status_label contains "Paid" %}
                                                            <div class="alert alert-success">
                                                              <i class="fa fa-check"></i> {{ order.financial_status_label }}
                                                            </div>
                                                          {% elsif order.financial_status_label contains "Pending"%}
                                                            <div class="alert alert-warning">
                                                              <i class="fa fa-circle"></i> {{ order.financial_status_label }}
                                                            </div>
                                                          {% endif %}
                                                        </td>
                                                        <td>
                                                          {% if order.fulfillment_status_label contains "Fulfilled" %}
                                                            <div class="alert alert-success">
                                                              <i class="fa fa-check"></i> {{ order.fulfillment_status_label }}
                                                            </div>
                                                          {% elsif order.fulfillment_status_label contains "Unfulfilled" %}
                                                            <div class="alert alert-warning">
                                                              <i class="fa fa-circle"></i> {{ order.fulfillment_status_label }}
                                                            </div>
                                                          {% endif %}
                                                        </td>
                                                        <td>{{ order.total_price | money }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% else %}
                                    <div class="alert alert-info">{{ 'customer.orders.none' | t }}</div>
                                {% endif %}
                                {% if paginate.pages > 1 %}
                                    <div class="pagination">
                                      {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
                                    </div>
                                {% endif %}
                            {% endpaginate %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



