<div class="container">
  <div class="account-holder margin_top_70 margin_bottom_50">
    <div class="account-register">
      <div class="account-input-holder">
        <h2>New Customer</h2>
        <p class="margin_top_20">By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
        <a href="/account/register">
          <button class="account-btn-submit">Create an Account</button>
        </a>
      </div>
    </div>
    <div class="account-login">
      <div class="account-input-holder CustomerLoginForm">
        <div class="note form-success hide">
          {{ 'customer.recover_password.success' | t }}
        </div>
        <h2>Login</h2>
        <p class="margin_top_20">Sign in your account.</p>
        {% form 'customer_login' %}
          {{ form.errors | default_errors }}
            <div class="margin_top_10">
            <div class="login-form">
              <div class="form-group account-input">
                <input type="email" class="account-input-value bdr {% if form.errors contains 'email' %}input--error{% endif %} margin_bottom_20" name="customer[email]" placeholder="Email">
              {% if form.password_needed %}
                <input type="password" class="account-input-value bdr {% if form.errors contains 'password' %}input--error{% endif %} margin_bottom_40" name="customer[password]" placeholder="Password">
              {% endif %}
              {% if form.password_needed %}
                <a href="#recover" class="RecoverPassword">Forgot your password?</a>
              {% endif %}
              </div>
              <div class="flex lr">
                  <button type="submit" class="account-btn-submit">
                      <!-- {{ 'customer.login.log_in' | t }} -->
                      Log in
                  </button>
                  
              </div>

            </div>
            </div>
          {% endform %}
          <div class="or-social">
            <div class="social-line">

            </div>
            <span>or</span>
            <div class="social-line">

            </div>
          </div>
          [ndnapps-sociallogin]
      </div>
      <div class="account-recovery-pass RecoverPasswordForm" style="display:none">
            <h2 class="margin_bottom_20">Recover Account</h2>
              <p>{{ 'customer.recover_password.subtext' | t }}</p>
            <div class="form-login">
              {% form 'recover_customer_password' %}
  
              {{ form.errors | default_errors }}
  
              {% comment %}
              Add a hidden span to indicate the form was submitted succesfully.
              {% endcomment %}
              {% if form.posted_successfully? %}
              <span class="hide reset-password-success"></span>
              {% endif %}
              <div class="form-group account-input">
                <input type="email" class="account-input-value form-account" value="" name="email" placeholder="Email" class="input-full"autocorrect="off" autocapitalize="off">
              </div>
                <div class="reset-btn-holder">
                  <button class="reset-btn">{{ 'customer.recover_password.submit' | t }}</button>  
                  <button class="reset-btn HideRecoverPasswordLink">{{ 'customer.recover_password.cancel' | t }}</button>
                </div>  
              {% endform %}
            </div>
          </div>
      </div>
    </div>
  </div>
  {% comment %}
  If accounts are set as optional, the following will be shown as an option
  during checkout, not on the default /login page.
  {% endcomment %}
  {% if shop.checkout.guest_login %}
  <div class="text-center">
    <hr class="hr--invisible">
    <h2>{{ 'customer.login.guest_title' | t }}</h2>

    {% form 'guest_login' %}
    <input type="submit" class="btn" value="{{ 'customer.login.guest_continue' | t }}">
    {% endform %}
  </div>
  {% endif %}

</div>
<script>
  var Logged_Email='{{customer.email}}';    
{% if template == 'customers/login' or template == 'customers/register' %}
    if(Logged_Email!="")
    window.location = "/account";
{% endif %}
</script>