<div class="container">
  <div class="account-holder-register-form margin_top_70 margin_bottom_50">
    <div class="account-register">
      <div class="account-input-holder">
        <h2>Register</h2>
        <p class="margin_top_20">Create your very own account.</p>
        {% form 'create_customer' %}
          <div class="registration-form-holder">
            {{ form.errors | default_errors }}
          </div>  
          <div class="login-form margin_top_20"> 
              <div class="form-group account-input">
                  <input type="text" class="account-input-value bdr {% if form.errors contains 'first_name' %}input--error{% endif %} margin_bottom_20" name="customer[first_name]" class="{% if form.errors contains 'first_name' %} input--error{% endif %}" {% if form.first_name %} value="{{ form.first_name }}"{% endif %} autocorrect="off" autocapitalize="off" placeholder="First Name">
                  <input type="text" class="account-input-value bdr {% if form.errors contains 'last_name' %}input--error{% endif %} margin_bottom_20" name="customer[last_name]" class="{% if form.errors contains 'last_name' %} input--error{% endif %}" {% if form.last_name %} value="{{ form.last_name }}"{% endif %} autocorrect="off" autocapitalize="off" placeholder="Last Name">
                  <input type="email" class="account-input-value bdr {% if form.errors contains 'email' %}input--error{% endif %} margin_bottom_20" name="customer[email]" class="{% if form.errors contains 'email' %} input--error{% endif %}" {% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off" placeholder="Email">
                  <input type="password" class="account-input-value bdr{% if form.errors contains 'password' %} input--error{% endif %}" name="customer[password]" value="" class="{% if form.errors contains 'password' %} input--error{% endif %}" placeholder="Password">
              </div>
              <div class="flex lr">
                <button type="submit" class="account-btn-submit">
                  <!-- {{ 'customer.register.submit' | t }} -->
                  Create an account
                </button>
            </div>
          </div>
        {% endform %}
      </div>
    </div>
    </div>
  </div>
  {% comment %}
  If accounts are set as optional, the following will be shown as an option
  during checkout, not on the default /login page.
  {% endcomment %}
  {% if shop.checkout.guest_login %}
  <div class="text-center">
    <hr class="hr--invisible">
    <h2>{{ 'customer.login.guest_title' | t }}</h2>

    {% form 'guest_login' %}
    <input type="submit" class="btn" value="{{ 'customer.login.guest_continue' | t }}">
    {% endform %}
  </div>
  {% endif %}

</div>
<script>
  var Logged_Email='{{customer.email}}';    
{% if template == 'customers/login' or template == 'customers/register' %}
    if(Logged_Email!="")
    window.location = "/account";
{% endif %}
</script>