<div class="page-coming">
  <div class="page-coming-content">
    <div class="page-logo">
        <img alt="{{shop.name}}" src="{{settings.hdv1_logo | img_url:'master'}}" width="{{settings.hdv1_logo_maxwidth}}px;"  class="img-logo" style="margin: 50px 0 50px 300px;">
    </div>
    <div class="page-content">
      <form class="form-group"  action="{{ form_action }}" method="post" name="mc-embedded-subscribe-form" target="_blank" style="margin-bottom:30px;padding: 200px 0 0 300px;">
        <h1>Coming soon</h1>
        <p style="text-align: left;width: 80%;line-height: 26px;margin-top: 35px;">Our website is under construction, we are working very hard to give you the best experience with this one.</p>
        <div class="page-content-input">
          <input value="{{customer.email}}" type="text" name="EMAIL" placeholder="Enter your email . . ." class="form-control des-font" style="width: 70%;padding: 25px;">
          <button class="animate-default number-font btn-password" type="submit" style="width: 25%;margin-left: 20px;background: linear-gradient(254.55deg, #FF85BB -5.06%, #FC3F93 58.76%);color: #fff;box-shadow: 4px 4px 20px rgba(233, 135, 152, 0.6);">Subscribe</button>
        </div>
      </form>
    </div>
  </div>
  <div class="page-img-holder">
    <img src="{{ 'password-banner.png' | asset_url }}" alt="" class="password-img">
  </div>
</div>